body {
    margin: 0;
    font-family: 'Poppins', sans-serif, Arial;
    padding: 0;
    box-sizing: border-box;
}

.nav-contact {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 20px;
}

.nav-contact .general-enquiries {
    background-color: #FFAD01;
    color: white;
    padding: 8px 30px 8px 30px;
    text-decoration: none;
    border-radius: 13px;
    font-weight: bold;
}

.nav-contact .general-enquiries:hover {
    background-color: #FFBA00;
}

.nav-contact i {
    font-size: 20px;
    color: black;
}

nav {
    margin: 0;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 180px;
    height: 80%;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.nav-links a:hover {
    border-bottom: 2px solid #FFBA00;
    color: #F4CA16;
}

.hamburger {
    display: none;
}

.button-link{
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .nav-contact {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;
        transform: translateX(20px);
        cursor: pointer;
    }

    .hamburger .bar {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }

    .nav-links.active {
        display: block;
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
    }

    .nav-links.active ul {
        flex-direction: column;
    }

    .nav-links.active a {
        padding: 10px 0;
    }

    .nav-links.active a:hover {
        border-bottom: none;
    }

    .button-link{
        display: block;
    }
} 

.hero {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 110px auto;
    background-image: url('https://res.cloudinary.com/dcdbpwlv2/image/upload/f_auto,q_auto/v1/makola%20funerals/gvvogt1dlj9rht9slowr');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 90vh;
    border-radius: 17px;
    padding: 20px;
}

.hero-section {
    width: 80%;
    margin: 30px auto;
    color: white;
    text-align: center;
}

.hero-section h6,
h1,
p,
a {
    margin: 0;
}

.hero-section h6 {
    margin-bottom: 8px;
}

.hero-section h6 span{
    font-weight: bold;
    font-size: small;
    border: 4px solid #FFDA03;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #F8DE7E;
    color: black;
    padding: 0 8px 0 8px;
    font-weight: bold;
}

.hero-section h1 {
    font-weight: 700;
}

.hero-section p {
    font-size: medium;
    margin-top: 14px;
}

.btn {
    background-color: #FFAD01;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: fit-content;
    font-size: medium;
    margin-top: 18px;
}


.save-section {
    width: 95%;
    margin: auto;
    background-color: #FFAD01;
    padding: 18px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-bottom: 50px;
    border-radius: 18px;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
}

.save {
    text-align: center;
    display: flex;
}

.save h1 {
    color: #fff;
    font-size: 1.8rem;
    margin-right: 20px;
}

.save a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.save a:hover {
    background-color: #333;
}


.about-section {
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: small;
    height: fit-content;
    margin-bottom: 50px;
    align-items: center;
}

.about-section img {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-left: 30px;
    border-radius: 18px;
    justify-self: center;
}

.about-content {
    width: 80%;
    justify-self: center;
}

.about-content h2 {
    font-weight: 200;
}

.makola-p {
    font-size: smaller;
    border: 4px solid #FFDA03;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #F8DE7E;
    color: black;
    padding: 0 8px 0 8px;
    font-weight: bold;
}

.read-btn {
    margin-top: 16px;
    color: black;
}

.read-btn:hover {
    scale: 1.05;
    margin-left: 5px;
}

.services {
    width: 100%;
    height: 100vh;
    background-image: url('../images/wave.png');
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.card {
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.underline {
    width: 50%;
    height: 2px;
    background-color: #FFAD01;
    margin-top: 10px;
    display: block;
    margin: auto;
}

.card ul {
    list-style: circle;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 40px;
}

.card ul li {
    margin-bottom: 8px;
}

.card .btn {
    display: inline-block;
    background-color: #FFBA00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #F4CA16;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
    object-fit: cover;
}

.services-hd {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 70px;
    margin-left: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.services-p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 3rem;
    color: #838383;
}

/* footer styles */
.footer {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-contact p {
    margin-bottom: 12px;
    color: #FFAD01;
}

.footer-section i {
    margin-right: 7px;
}

.footer-section {
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #fff;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-section {
    margin-bottom: 20px;
}


@media (min-width: 380px) {
    
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
}


.main-contact-section {
    margin-top: 150px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.details-form {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 2rem;
}

.name-number{
    display: flex;
    gap: 1.8rem;
}

.details-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #666;
}

.details-form input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.details-form input:focus,
textarea:focus {
    outline: none;
    border-color: #ffc107;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px #ffc107;
}

.details-form button[type="submit"] {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.details-form button[type="submit"]:hover {
    background-color: #ffa07a;
}

.contact-details-card {
    width: 60%;
    background-color: #f4ca15;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000001a;
    margin: 20px auto;    
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 3rem;
}

.contact-details-card h2 {
    font-weight: bold;
    color: #131313;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.contact-details-card p {
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-details-card strong {
    font-weight: bold;
    color: #1b1a1a;
}

.contact-details-card img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    align-self: center;
}

.contact-details-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ffc107;
    border-radius: 20px 20px 0 0;
}

.contact-us-social-media{
    display: flex;
    gap: 2rem;
}

.contact-us-social-media a{
    color: #1b1a1a;
    background-color: #e1c650;
    padding: 6px;
    border-radius: 6px;
}

.contact-us-social-media a:hover{
    background-color: #dcbf40;
    scale: 1.1;
}

.contact-us-social-media i{
    font-size: 1.2rem;
}

.gallery-section{
    display: grid;
    place-items: center;
    gap: 2rem;
    width: 100%;
    margin-bottom: 100px;
}

.gallery-section h1{
    font-family: 'Montserrat', sans-serif;
}

.gallery-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    place-items: center;
    width: 90%;
}

.gallery-image-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.more-info{
    background-color: #FFAD01;
    width: 100%;
    height: 300px;
    /* margin-bottom: 4rem; */
    color: white;
}

.flat-casket{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #FFAD01;
}

.flat-casket img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.flat-casket-info{
    background-color: rgb(244, 244, 244);
    height: 350px;
}

.flat-casket-info ul li{
    font-size: small;
    list-style-type: circle;
    color: #131313;
}

.flat-casket-info h4{
    margin-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFAD01;
    margin-bottom: 0;
}

.more-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    height: fit-content;
    padding-bottom: 1rem;
}

.more-info p{
    font-size: x-small;
}

.info-1{
    margin-left: 20px;
}

.more-info h6{
    font-weight: 900;
}


.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}


.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-content ul {
    list-style: none;
    padding: 0;
}

.accordion-content ul li {
    margin-bottom: 5px;
}

.accordion-content ul li:last-child {
    margin-bottom: 0;
}

.footer-info{
    display: block;
    display: flex;
    justify-content: space-between;
}


/* Responsive design */
@media (max-width: 768px) {
    .hero {
        height: 70vh;
    }

    .hero-section {
        width: 90%;
    }

    .hero-section p {
        font-size: small;
    }

    .btn {
        padding: 8px 20px;
    }

    .save-section {
        justify-content: space-between;
        gap: 30px;
        padding: 16px 4px;
        margin-top: 10px;
        margin-bottom: 25px;
        border-radius: 18px;
        height: fit-content;
        font-family: 'Montserrat', sans-serif;
    }

    .save-section .save h1{
        font-size: small;
    }

    .save a{
        padding-right: 20px;
        padding-left: 20px;
        font-size: x-small;
        width: fit-content;
    }

    .save-section {
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin-top: -50px;
    }

    .save h1 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-section{
        display: block;
    }

    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .small-about{
        display: block;
    }

    .leff--about{
        display: none;
    }


    .services-hd{
        font-size: x-large;
    }

    .services-p{
        font-size: small;
    }

    .service-cards{
        flex-direction: column;
        width: 90%;
    }

    .card{
        width: 80%;
    }

    .services{
        height: fit-content;
    }

    .footer-contact p {
        margin-bottom: 12px;
        color: #FFAD01;
    }

    .main-contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a[href^="tel"] {
        color: inherit;
        text-decoration: none;
    }    

    .flat-casket{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .flat-casket-info{
        height: fit-content;
    }

    .gallery-image-container{
        grid-template-columns: 1fr 1fr;
    }

    .gallery-image-container img{
        width: 100%;
        height: auto;
        border-radius: 1rem;
        /* object-fit: cover; */
    }

    *{
        /* border: 1px solid red; */
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}

.small-about{
    display: none;
}

@media (max-width: 380px) {
    .hero {
        height: 70vh;
    }

    .hero-section {
        width: 90%;
    }

    .hero-section p {
        font-size: x-small;
    }

    .btn {
        padding: 8px 20px;
    }

    .save-section {
        justify-content: space-between;
        gap: 30px;
        padding: 18px 8px;
        margin-top: -50px;
        margin-bottom: 25px;
        border-radius: 18px;
        height: fit-content;
        font-family: 'Montserrat', sans-serif;
    }

    .save-section .save h1{
        font-size: small;
    }

    .save a{
        padding: 2px 5px;
        font-size: small;
    }

    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .small-about{
        display: block;
    }

    .left-about{
        display: none;
    }

    .services-hd{
        font-size: x-large;
    }

    .services-p{
        font-size: small;
    }

    .service-cards{
        flex-direction: column;
        width: 90%;
    }

    .card{
        width: 80%;
    }

    .services{
        height: fit-content;
    }

    .gallery-image-container{
        width: 95%;
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .footer-contact p {
        margin-bottom: 12px;
        color: #FFAD01;
    }

    .main-contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a[href^="tel"] {
        color: inherit;
        text-decoration: none;
    }   
    
    .flat-casket{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .flat-casket-info{
        height: fit-content;
    }

    .gallery-image-container{
        grid-template-columns: 1fr 1fr;
    }

    .gallery-image-container img{
        width: 100%;
        height: auto;
        border-radius: 1rem;
        /* object-fit: cover; */
    }

    *{
        /* border: 1px solid red; */
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
}




